<h1 mat-dialog-title>Add / Edit State</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>State Name</mat-label>
        <input matInput [(ngModel)]="data.stateName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select an Country</mat-label>
        <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="1">India</mat-option>
            <mat-option value="2">Dubai</mat-option>
            <mat-option value="3">Abu Dhabi</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button color="warn" (click)="onClose()">Close</button>
    <button mat-button color="parimary" [mat-dialog-close]="data.countryName" cdkFocusInitial>Save</button>
</div>