<h1 mat-dialog-title>Add / Edit District</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>District Name</mat-label>
        <input matInput [(ngModel)]="data.districtName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select an State</mat-label>
        <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="1">Gujarat</mat-option>
            <mat-option value="2">Rajasthan</mat-option>
            <mat-option value="3">Bihar</mat-option>
            <mat-option value="3">Kerala</mat-option>
            <mat-option value="3">Madhya Pradesh</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button color="warn" (click)="onClose()">Close</button>
    <button mat-button color="parimary" [mat-dialog-close]="data.districtName" cdkFocusInitial>Save</button>
</div>