<div class="controls-container">
  <div class="flex-box">
    <p>City List</p>
    <button mat-fab (click)="openCityDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Gujarat">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- cityId Column -->
    <ng-container matColumnDef="cityId">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.cityId}} </td>
    </ng-container>

    <!-- cityName Column -->
    <ng-container matColumnDef="cityName">
      <th mat-header-cell *matHeaderCellDef> City Name </th>
      <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
    </ng-container>

    <!-- districtName Column -->
    <ng-container matColumnDef="districtName">
      <th mat-header-cell *matHeaderCellDef> District Name </th>
      <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
