.controls-container {
  width: 100%;
}

.button-row button {
  margin: 5px;
}

table {
  width: 100%;
}

table tr th {
  color: black;
  font-size: 14px;
  min-width: 100px;
  padding: 0px 2px 0px 2px;
}

table tr td {
  min-width: 100px;
  padding: 0px 2px 0px 2px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
