<!-- <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
        <form [formGroup]="loginService.form" class="normal-form" (submit)="onSubmit()">
            <div class="controls-container">
                <mat-form-field>
                    <input formControlName="userName" matInput placeholder="User name">
                    <mat-error>Enter user name</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="password" type="password" matInput placeholder="Password">
                    <mat-error>Enter password</mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]=loginService.form.invalid>Login</button>
                    <button mat-raised-button color="warn" (click)="onCancel($event)">Cancel</button>
                </div>
            </div>
        </form>
    </mat-grid-tile>
</mat-grid-list> -->