<mat-tab-group>
    <mat-tab label="Country">
        <app-country></app-country>
    </mat-tab>
    <mat-tab label="State">
        <app-state></app-state>
    </mat-tab>
    <mat-tab label="District">
        <div class="controls-container">
            <form [formGroup]="masterService.countryForm" class="normal-form" (submit)="onSubmit()">
                <div class="controls-container">
                    <input type="hidden" formControlName="$key">
                    <mat-form-field>
                        <input formControlName="countryName" matInput placeholder="Country name">
                        <mat-error>Enter country name</mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="City">
        <div class="controls-container">
            <form [formGroup]="masterService.countryForm" class="normal-form" (submit)="onSubmit()">
                <div class="controls-container">
                    <input type="hidden" formControlName="$key">
                    <mat-form-field>
                        <input formControlName="countryName" matInput placeholder="Country name">
                        <mat-error>Enter country name</mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Area">
        <div class="controls-container">
            <form [formGroup]="masterService.countryForm" class="normal-form" (submit)="onSubmit()">
                <div class="controls-container">
                    <input type="hidden" formControlName="$key">
                    <mat-form-field>
                        <input formControlName="countryName" matInput placeholder="Country name">
                        <mat-error>Enter country name</mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>