<div>
    <mat-toolbar color="primary">
        <div>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <a mat-button class="companyName" routerLink="/">
            <span>Shaheen Weekly</span>
        </a>
    </mat-toolbar>
</div>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" style="background-color: gray;">
        <p>Auto-resizing sidenav</p>
    </mat-drawer>

    <div class="example-sidenav-content" style="background-color: hotpink;">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>