.home-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.home-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.home-sidenav {
  padding: 10px;
  width: 200px;
  background-color: #3f51b5;
  a {
    color: white;
    font-size: medium;
    width: 100%;
    margin: 2px 0px 2px 0px;
    padding: 5px;
  }
}

.companyName {
  font-size: 25px;
}
