<h1 mat-dialog-title>Add / Edit Area</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Area Name</mat-label>
        <input matInput [(ngModel)]="data.areaName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Select an City</mat-label>
        <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="1">Ahmedabad</mat-option>
            <mat-option value="2">Vadodara</mat-option>
            <mat-option value="3">Panchmahal</mat-option>
            <mat-option value="4">Kheda</mat-option>
            <mat-option value="5">Anand</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button color="warn" (click)="onClose()">Close</button>
    <button mat-button color="parimary" [mat-dialog-close]="data.areaName" cdkFocusInitial>Save</button>
</div>